.background{
    width: 100%;
    height: 100%;
    background-color: grey;
}


.login{
    margin: auto;
    width: 20%;
    background-color: yellow;
    padding: 10px;
    line-height: 50px;
    font-size: 20px;
    min-width: 300px;
    height: 360px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 40px;
    position: relative;
    top: 150px;
}

input{
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
}

#submit-button{
    margin-top: 10px;
    width: 120px;
    height: 50px;
    padding: 5px;
    float: right;
    font-size: 25px;
    border-radius: 10px;
    background-color: green;
    color: white;
    align-items: center;
}
.resume-toggle{
    display: none
}

.button-toggle{
    display: none
}


html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: whitesmoke;
}
.resume-num{
    margin: auto;
    width: 50%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#prev-btn, #next-btn{    
    margin: 20px;
    
}
.resume-container{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    height: auto;
    border-radius: 5px;
}
#applicant-name{
    margin-top: 0px;
    width: 100%;
    background-color: rgb(146, 229, 229);
    text-align: center;
}
.sections{    
    display: flex;
}

#left-pane{
    font-size: 14px;
    padding: 8px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: pink;
    height: 450px;
    margin: 15px;
}
#left-pane div h2{
    background-color: grey;
}
#left-pane div p{
    text-align: right;
    font-size: 12px;
}

#main{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}

#main p{
    padding: 5px;
    margin: 20px;
}
