html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: whitesmoke;
}
#resume-num{
    margin: auto;
    width: 40%;
}
#prev-btn, #next-btn{    
    margin: 20px;
    
}
.resume-container{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    height: auto;
    border-radius: 5px;
}
#applicant-name{
    margin-top: 0px;
    width: 100%;
    background-color: rgb(146, 229, 229);
    text-align: center;
}
.sections{    
    display: flex;
}

#left-pane{
    font-size: 14px;
    padding: 8px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Width: 20%;
    background-color: pink;
    height: 450px;
    margin: 15px;
}
#left-pane div h2{
    background-color: grey;
}
#left-pane div p{
    text-align: right;
    font-size: 12px;
}

#main{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}

#main p{
    padding: 5px;
    margin: 20px;
}